body {
    background-image: url("https://wallpaperbat.com/img/514477-solid-black-wallpaper-black-background-wallpaper-plain-black-wallpaper.png");
    background-repeat: repeat;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
    color: #00B7FF;
}


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 350px;
    height: 200px;
    outline: 1px black;
    position: relative;
    text-align: center;
}


/*edit */
.login{
    width: 360px;
    padding: 3% 0 0;
    margin: auto;
}

input {
    text-align: center;
}
#login-forma {
    border-radius: 25px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
.navbar-brand {
    padding-left: 15px;
}

#forma-naslov {
    padding-top: 5px;
}

#dugme {
    transition-duration: 0.4s;
}

#dugme:hover {
    background-color: white;
    color: black;
}

#welcome-naslov:hover {
    color: gray;
}

#welcome-pr:hover {
    color:gray;
}

#dugme {
    transition-duration: 0.4s;
}

#dugme:hover {
    background-color: white;
    color: black;
}